<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type="text" class="form-control" placeholder="Title"
    <%= f.text_field :title, autofocus: true %></input>
  <br>
  <input type="text" class="form-control" placeholder="Video"
    <%= f.text_field :video %></input>
  <br>
  <textarea class="form-control" rows="25" placeholder="Description"
    <%= f.text_area :description %></textarea>
  <br>
  <input type="text" class="form-control" placeholder="Tags"
    <%= f.text_field :tags %></input>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
