<p id="notice"><%= notice %></p>
<div class="pull-right">
<%= link_to 'New Video', new_video_path, class: "btn btn-primary" %>
</div>
<div class="row"><!-- row 1 --> 
  <div class="col-md-6"> 
  <form role="search" class="form-inline">
        <div class="form-group">
          <%= search_form_for @q, url: videos_path, html: { method: :post } do |f| %>
         <span><input type="text" class="form-control" placeholder="Search Screencasts" <%= f.search_field :title_or_tags_cont %>
          </span>
        <button type="submit" class="btn btn-danger">Submit</button>
        <% end %>
        </div>
      </form> 
      <br>
    <% @videos.each do |video| %>
    
      <tr>
        <td>
        <h3><%= link_to "#{video.title}", video %></h3>
        <div><small>uploaded <%= time_ago_in_words(video.created_at) %> ago</small></div>
        <div class="tags">tags: <%= video.tags %></div>
        <p><div class="embed-container">
        <%= embed(video.video) %>
        </div></p>
        <p>
        <span><strong>Video #</span>
        <%= video.id %></strong>
        </p>
        <p>
        <span><strong>Released</strong></span>
        <%= video.created_at %>
        </p>
        <p><%= truncate(video.description, length: 50, omission: "...(continued)") %></p>       
        <p><%= link_to 'Show', video %>
        <%= link_to 'Edit', edit_video_path(video) %>
        <%= link_to 'Delete', video, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <hr>    
      
    <% end %>

<br>
  </div><!-- col1 -->
  <div class="col-md-6">

  </div>
</div> <!-- row 1 -->



