<p id="notice"><%= notice %></p>
<%= link_to 'New Video', new_video_path, class: "btn btn-primary" %>

<div class="row"><!-- row 1 --> 
  <div class="col-md-6">  
    <% @videos.each do |video| %>
    
        
        <h3><%= link_to "#{video.title}", video %></h3>
        <div><small>uploaded <%= time_ago_in_words(video.created_at) %> ago</small></div>
        <div class="tags">tags: <%= video.tags %></div>
        <p><div class="embed-container">
        <%= embed(video.video) %>
        </div></p>
        <p>
        <span><strong>Video #</span>
        <%= video.id %></strong>
        </p>
        <p>
        <span><strong>Released</strong></span>
        <%= video.created_at %>
        </p>
        <p><%= truncate(video.description, length: 50, omission: "...(continued)") %></p>       
        <p><%= link_to 'Show', video %>
        <%= link_to 'Edit', edit_video_path(video) %>
        <%= link_to 'Delete', video, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <hr>
      
    <% end %>

<br>
  </div><!-- col1 -->
  <div class="col-md-6">

  </div>
</div> <!-- row 1 -->



