<p id="notice"><%= notice %></p>
<%= link_to 'Back', videos_path, class: "btn btn-warning"%>

<p>
  <div class="embed-container">
    <%= embed(@video.video) %>
   </div>
</p>
<p>
  <h1><%= @video.title %></h1>  
</p>
<p>
  <span><small><strong>Tags:</strong></small></span>
  <%= @video.tags %>
</p>
<p>
	<span><strong>Video #</span>
	<%= @video.id %></strong>
</p>
<p>
	<span><strong>Released</strong></span>
	<%= @video.created_at %>
</p>
<p class="description">
  <%= @video.description %>
</p>

<%= link_to 'Edit', edit_video_path(@video), class: "btn btn-info" %> |
<%= link_to 'Back', videos_path, class: "btn btn-warning" %>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'igrafitti';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
