<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type="text" class="form-control" placeholder="Title"
    <%= f.text_field :title, autofocus: true %></input>
  <br>
  <textarea class="form-control" rows="20" placeholder="Tell Your Story"
    <%= f.text_area :body %></textarea>
  <br>
  <input type="text" class="form-control" placeholder="Tags"
    <%= f.text_field :tags %>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
