<p id="notice"><%= notice %></p>
<% if current_user.try(:admin?) %>
<div class="pull-right">
<%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
</div>
<% end %>
<div class="row"><!-- row 1 -->
  <div class="col-md-6">
    <form role="search" class="form-inline">
        <div class="form-group">
          <%= search_form_for @q, url: posts_path, html: { method: :post } do |f| %>
         <span><input type="text" class="form-control" placeholder="Search Blog" <%= f.search_field :title_or_body_or_tags_cont %>
          </span>
        <button type="submit" class="btn btn-danger">Submit</button>
        </div>
        <% end %>
      </form>
    <% @posts.each do |post| %>


        <h3><%= link_to "#{post.title}", post %></h3>
        <div><small>posted <%= time_ago_in_words(post.created_at) %> ago</small></div>
        <div class="tags">tags: <%= post.tags %></div>
        <span><strong>Post #</span>
        <%= post.id %></strong>
        </p>
        <p>
        <span><strong>Released</strong></span>
        <%= post.created_at.strftime("%B %-d, %Y") %>
        </p>
        <p>
        <% if post.reputation_for(:votes).to_i > 0%>
          <h5 class="text-blue"><%= post.reputation_for(:votes).to_i %>
          <i class="fa fa-thumbs-up" aria-hidden="true"></i></h5>
          <% elsif post.reputation_for(:votes).to_i < 0 %>
          <h5 class="text-danger"><%= post.reputation_for(:votes).to_i %>
          <i class="fa fa-bomb"></i></h5>
          <% else %>
          <h5><%= pluralize post.reputation_for(:votes).to_i, "thought" %></h5>
        <% end %>
        </p>
        <br>
        <p><%= truncate(post.body.html_safe, length: 250, omission: "...(continued)") %></p>
        <p><%= link_to 'Show', post %>
        <% if current_user.try(:admin?) %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </p>
        <hr>

    <% end %>

<br>
  </div><!-- col1 -->
  <div class="col-md-6">

  </div>
</div> <!-- row 1 -->
