<p id="notice"><%= notice %></p>
<%= link_to 'Back', posts_path, class: "btn btn-warning"%>

<p>
  <h1><%= @post.title %></h1>  
</p>
<p>
  <span><small><strong>Tags:</strong></small></span>
  <%= @post.tags %>
</p>
<p>
  <span><strong>Post #</span>
  <%= @post.id %></strong>
</p>
<p>
  <span><strong>Released</strong></span>
  <%= @post.created_at %>
</p>
<p>
  Score:
    <% if @post.reputation_for(:votes).to_i > 0%>
    <h5 class="text-blue"><%= @post.reputation_for(:votes).to_i %>
    <i class="fa fa-thumbs-o-up"></i></h5>
    <% elsif @post.reputation_for(:votes).to_i < 0 %>
    <h5 class="text-danger"><%= @post.reputation_for(:votes).abs %>
    <i class="fa fa-bomb"></i></h5>
    <% else %>
    <h5><%= pluralize @post.reputation_for(:votes).to_i, "thought" %></h5>
    <% end %><br>
    <% if current_user && !current_user.voted_for?(@post) %>
      <%= link_to " Cool", vote_post_path(type: "up"), method: "post", class: "fa fa-thumbs-o-up text-blue" %> - or - <%= link_to " Fail", vote_post_path(type: "down"), method: "post", class: "fa fa-bomb text-danger" %>
    <% end %>  

</p>


<p class="description">
  <%= markdown(@post.body) %>
</p>

<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-info" %> |
<%= link_to 'Back', posts_path, class: "btn btn-warning" %>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'igrafitti';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
